{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 4em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        .table {
            border-collapse: collapse;
            width: 100%;
        }

        .td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        .flgrow {
            flex-grow: 1;
            text-align: right;
        }
    </style>
    <div class="row">
        <div class="col s12 m3">
            <img src="{{ asset('img/logo_gc.png') }}" alt="Logo Groupe Curious" class="responsive-img"
                 style="margin-top: 10px">
        </div>
        <div class="input-field col s12 m3 offset-m6">
            <select id="userSelected" class="icons" onchange="setCookie(365)">
                {% for user in users %}
                    <option value="{{ user.id }}" class="left circle"
                            data-icon="{{ asset('img/users/'~user.id~'.jpg') }}">{{ user.nom }}</option>
                {% endfor %}
                <option value="{{ path('newProjet') }}">ok</option>

            </select>
        </div>
    </div>

    <div class="example-wrapper">
        <h3>Suivi des projets ✅</h3>

        <ul class="collapsible popout">
            {% for projet in projets %}
                {{ include('user/recursive.html.twig', { projet: projet}) }}
            {% endfor %}
            <div class="row">
                <div class="col s10">
                    <a class="btn-floating btn-large waves-effect waves-light #2bbbad" href="{{ path('newProjet') }}"
                       style="margin-top: 10px"><i class="material-icons">add</i></a>
                </div>
            </div>
        </ul>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('select').material_select();
            $('.collapsible').collapsible();

        });
        const listBtn = $('.btn');
        for (let listIndex in listBtn) {
            listBtn[listIndex].onclick = function (event) {
                event.preventDefault();

                const userSelected = document.getElementById('userSelected').value;
                const correctUrl = this.href.replace('/user', '');
                const projetSelected = correctUrl.substr(correctUrl.lastIndexOf('/') + 1);

                console.log(userSelected);

                $.get( this.href + "/" + userSelected, function( data ) {
                    // Success!
                    $('#total-' + projetSelected).html(data.total);

                    for(let userId in data.users) {
                        const user = data.users[userId];
                        $('#totalUserTime-' + projetSelected + '-' + user.id).html(user.total);
                    }

                    console.log('Requete ok', data);
                });

            };
        }

        function setCookie(days) {
            const name = "userSelected";
            const userSelected = document.getElementById(name).value;
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + '=' + userSelected + expires;
        }
        function setUserFromCookie() {
            const userSelected = getCookie("userSelected");
            const select = document.getElementById("userSelected");
            select.value = userSelected;
        }
        function getCookie(name) {
            name = name + "=";
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i];
                while (cookie.charAt(0) == ' ') {
                    cookie = cookie.substring(1);
                }
                if (cookie.indexOf(name) == 0) {
                    return cookie.substring(name.length, cookie.length);
                }
            }
            return "";
        }
        function eraseCookie(name) {
            document.cookie = name + '=; Max-Age=-99999999;';
        }

        setUserFromCookie();

    </script>
{% endblock %}